body {
    margin: 0px;
}

.header ul {
    list-style-type: none;
    font-size: 18px;
    font-weight: 100;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

.header {
    background-color: #1F2937;
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.intro {
    display: flex;
    background-color: #1F2937;
    padding: 100px 100px;
    justify-content: space-between;
}

.intro-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.intro-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.intro-text {
    font-size: 18px;
    color: #E5E7EB;
}

.intro button {
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    font-weight: 700;
}

.images-title {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 20px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 40px;
}

.member-image {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 200px;
}

.member-image img {
    max-width: 200px;
}

.quote-container {
    background-color: #E5E7EB;
}

.quote {
    max-width: 900px;
    margin: auto;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.quote-author {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    align-self: flex-end;
}